@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 7px;
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: #151414;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 1rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.nav div.logo a:hover {
    color: #0fb0ea;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #f0eaea;
    line-height: 65px;
    font-size: 1.5rem;
}

.nav div.main_list ul li a:hover {
    color: #0fb0ea;
}
